
.ExportFormContainer{
    background: linear-gradient(90deg,#282d41,#3a4355);
    border-radius: 40px;
    box-shadow: 0 4px 20px rgba(0,0,0,.25);
    margin: 40px;
    padding: 40px 80px 70px 80px;

    position: relative;
}

.titleForm{
    color: #fff;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    margin: 0;
}

.FormContent{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.FormContent * {
    width: 100%;
}


.InputExportForm{

}

.inputExport{
    border: none;
    border-radius: 20px;
    height: 30px;
    margin-bottom: 10px;
    padding: 4px 10px;
    width: 250px;
}

.titleForm{
    color: #fff;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    margin: 0;
}

.labelExportInput {
    color: #fff;
    font-family: Raleway;
    text-align: left;
    font-weight: 800;
}

.buttonExportForm{
    background: none;
    border-color: #f1b054;
    border-radius: 30px;
    border-width: 2px;
    bottom: 10%;
    box-shadow: 0 4px 20px rgba(0,0,0,.25);
    color: #f1b054;
    cursor: pointer;
    font-family: Raleway;
    font-size: 19px;
    height: 50px;
    left: 50%;
    width: 60%;
    margin-top: 30px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
