/*TabBar Style*/

.tab {

}

.tab-list {
    overflow: hidden;
    padding-left: 0;
    margin: 0;
    list-style: none;
    z-index: 999;
    display: flex;
    align-items: center;

}

.tab-header {
    background: gray;
    left: 0;
    padding: 10px;
    position: relative;
    top: 0;
    width: calc(100% - 60px);
    z-index: 999;
    height: auto;
    border-radius: 35px;
    background: linear-gradient(90deg,#282d41,#3a4355);
    box-shadow: 0 4px 20px rgba(0,0,0,.25);
}

.tabButton {
    background-color: initial;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 200;

}
.tabButton:focus{
    color: #F1B054;
}


.tabActive{
    color: #F1B054;
}

.tabItem {
    text-align: center;
    flex: 1;
}

/*Tab page container*/
.ExternalPageContainer{
    display: block;
    margin-left: 240px;
    padding: 20px;
    width: calc(100% - 60px);
    height: 95vh;
}

.TabContainer{
    padding: 20px;
    height: 95vh;
}

/* Chart Container */

.ChartExternalContainer{
    width: auto;
    height: auto;
    background: linear-gradient(90deg, #282D41 0%, #3A4355 100%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px
}

.ReloadButtonExternal{
    background: none;
    border-color: #f1b054;
    border-radius: 30px;
    border-width: 2px;
    box-shadow: 0 4px 20px rgba(0,0,0,.25);
    color: #f1b054;
    cursor: pointer;
    font-family: Raleway;
    font-size: 19px;
    font-weight: 700;
    height: 54px;
    width: 50%;
    margin-bottom: 20px;
}
