.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


html {
  position: relative;
  min-height: 100%;

}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #030826;
  background-size: cover;
  font-family: Barlow;
}


.App-header {
  align-items: center;
  justify-content: center;
  color: white;
  display: inline-block;
  margin-bottom: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*NAVBAR*/

.menu {
  float: right;
}

.menu-list {
  overflow: hidden;
  padding-left: 0;
  margin: 0;
  list-style: none;
  z-index: 999;
}

.header {
  z-index: 999;
  height: 100vh;
  position: fixed;
  background: #FF6144;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px;
}

.menuButton {
  margin-bottom: 10px;
  font-family: "Barlow SemiBold";
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.menuButton:focus{
  color: #F1B054;
}

.menuItem {
  text-align: center;
}

.logoIcon{
  height: 22px;
}

.logoNavBar{

}







/*CONTENT*/

.PageContainer{

}