.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


html {
  position: relative;
  min-height: 100%;

}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #030826;
  background-size: cover;
  font-family: Barlow;
}


.App-header {
  align-items: center;
  justify-content: center;
  color: white;
  display: flow-root;
  margin-bottom: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*NAVBAR*/

.menu {
  float: right;
}

.menu-list {
  overflow: hidden;
  padding-left: 0;
  margin: 0;
  list-style: none;
  z-index: 999;
}

.header {
  height: 80px;
  position: relative;
  background: white;
  z-index: 999;
}

.menuButton {

  right: 50px;
  top: 20px;
}

.menuItem {
  float: left;
  text-align: center;
  text-align: center;
}


/*CONTENT*/

.PageContainer{
  margin: 80px;
  display: flex;
}