@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: url('Style/Raleway/static/Raleway-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('Style/Raleway/static/Raleway-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('Style/Raleway/static/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('Style/Raleway/static/Raleway-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('Style/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('Style/Raleway/static/Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('Style/Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('../src/Style/Raleway/static/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('Style/Raleway/static/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: url('Style/Raleway/static/Raleway-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 900;
  src: url('Style/Raleway/static/Raleway-BlackItalic.ttf') format('truetype');
}

body {
  font-family: 'Raleway', sans-serif;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


html {
  position: relative;
  min-height: 100%;

}

body {
  margin-bottom: 60px;
  background: linear-gradient(90deg, #3A4456 0.73%, #181B27 100%);
  background-size: cover;
  font-family: Barlow;
}

.App-header {
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  margin-bottom: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*NAVBAR*/


.menu {

}

.menu-list {
  overflow: hidden;
  padding-left: 0;
  margin: 0;
  list-style: none;
  z-index: 999;
}

.header {
  z-index: 999;
  height: 100vh;
  position: fixed;
  background: #FF6144;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  top: 0;
  left: 0;
}

.menuButton {
  margin-bottom: 10px;
  font-family: 'Raleway';
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.menuButton:focus{
  color: #F1B054;
}

.menuActive{
  color: #F1B054;
}

.connectButton {
  background-color: initial;
  color: #fff;
  cursor: pointer;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 15px;
  border-color: white;
  border-style: double;
  margin-top: 60%;
}

.menuItem {
  text-align: center;
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
}

.logoIcon{
  height: 22px;
}

.logoNavVRT{
  height: 96px;
  width: 179px;
}

.IconNavbar{
  height: 25px;
  margin-right: 10px;
  width: 25px;
;
}

.SessionName{
  margin-bottom: 10px;
  font-family: 'Raleway';
  font-weight: bold;
  border: none;
  color: #030826;
  font-size: 20px;
  margin-bottom: 20px;
}

.SessionID{
  margin-bottom: 10px;
  margin-top: -15px;
  font-family: 'Raleway';
  border: none;
  color: #030826;
  font-size: 20px;
  margin-bottom: 15px;
}

/*CONTENT*/

.PageContainer{
  display: flex;
  margin-left: 240px;
  padding: 20px;
  width: calc(100vw - 300px);
  height: 95vh;
}
